.update{
    position: absolute;
    top: 100px;
    bottom: 0;
    left:0;
    right: 0;
    margin: auto;
    width: 50%;
    height: 70%;
    background-color: white;
    padding: 50px;
    z-index: 999;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
 
    form{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
        margin-top: 40px;
        input{
            width: 300px;
            border-radius: 5px;
            font-size: 18px;
            margin: 15px 0;
            padding: 5px;
        }
        button{
            padding: 10px;
            background-color: blue;
            color: white;
            border-radius: 5px;
        }
    }
    button{
        padding: 5px 10px;
        background-color: red;
        color: white;
        border-radius: 5px;
    }
}